.hero {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color:#040254;

  position: relative;
}


.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 40px;
  padding-top: 60px;
  margin-top: 0;
}
